ingressRoute:
  dashboard:
    enabled: false

providers:
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true
    allowExternalNameServices: true

logs:
  general:
    level: DEBUG
    format: json
  access:
    level: DEBUG
    format: json
    fields:
      headers:
        defaultmode: keep

prometheus: null

service:
  type: LoadBalancer
